@font-face {
    font-family: "playfair";
    src: url("https://cdn-static-e.dora.run/fonts/v4/Playfair-Display-600.ttf");
}

.Indro-img {
    width: 100%;

}

.indro-desc {
    padding-top: 50px;
}

.indro-desc span {
    font-family: 'Space Mono', monospace;
    color: rgb(208, 216, 216);
}

.indro-desc a {
    background-color: rgb(235, 112, 71);
    border-radius: 25px;
    margin-top: 7%;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.indro-desc a:hover {
    background-color: rgb(241, 145, 113);
    color: white;


}

.indro-back {
    height: 800px;
    background-image: url("https://cdn-imgs.dora.run/design/IOmouaZH9AvFgLWDZSNPBN.webp/w/4096/h/4096/format/webp?");
    background-position: right;
}

.indro-desc p {
    font-size: 105px;
    font-family: "playfair";
    color: white;
}

@media(max-width:1200px) {
    .indro-desc span {
        font-size: 14px;
        font-weight: 600;
    }

    .indro-desc p {
        font-size: 80px;
        font-weight: 700;
    }
}



@media(max-width:766px) {

    .indro-desc a {
        font-size: 14px;
    }

    .indro-back {
        height: 600px;
    }

    .indro-desc p {
        font-size: 60px;
        line-height: 70px;
    }

    .About-site-head p {
        font-size: 11px !important;
    }

    .About-site-head h5 {
        font-size: 11px !important;
    }
}

.About-site {
    background-color: rgb(248, 242, 235);
}

.playfair {
    font-family: "playfair" !important;
}

.spacemono {
    font-family: 'Space Mono', monospace;
}

.gray {
    color: rgb(121, 114, 114);
}

.orange {
    background-color: rgb(255, 87, 34);
}

.orange:hover {
    background-color: rgb(255, 133, 96);
}

.connect-wrap {


    color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;

    max-width: 1000px;

}

.connect {
    background-color: antiquewhite;
    padding: 50px 0px;
}

.login {
    min-height: 500px;
}

.login-form {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.2);
    border:rgba(199, 97, 77, 0.426) solid 3px ;
    font-family: "Lato";
}