.footer
{
    
    background-color: rgb(199,98,77);
}
.orange-gray
{
  color: rgb(234,190,179);
}
.accordion-button
{
  padding: 5px 10px;
}
.accordion-button:not(.collapsed)
{
  background-color: white ;
  border: white;
}